.PreviewPage {
    padding: 6rem 2rem 2rem;
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    .PreviewPage {
        padding: 5rem 1rem 1rem;
        height: auto;
    }
}
