.UserPage {
    padding: 6rem 2rem 2rem;
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .UserPage {
        padding: 5rem 1rem 1rem;
        height: auto;
    }
}
