.Request {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: var(--light);
    font-size: var(--large-font-size);
    gap: 0.5rem;
    background: var(--light-blue);
    padding: 16px;
    border-radius: var(--border-radius);
    width: 100%;
}

.Label {
    font-weight: var(--extra-light);
}

.Status {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EditButton {
    background: none;
    border: none;
    cursor: pointer;
}

.Wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.CommentWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .Request {
        font-size: var(--medium-font-size);
    }

    .Wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
