.Request {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: var(--light);
    font-size: var(--big-font-size);
    gap: 8px;
    background: var(--white);
    padding: 16px;
    border-radius: var(--border-radius);
    width: 100%
}
.Label {
    font-weight: var(--extra-light);
}
.Status {
    display: flex;
    gap: 8px; /** НЕ УВЕРЕН НАДО ПОДУМАТЬ */
    justify-content: end;
}