.Container {
    display: flex;
    align-items: center;
    gap: 16px;
    font: var(--font);
    font-size: var(--big-font-size);
    font-weight: var(--light);
}

.Button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font: var(--font);
    font-size: var(--big-font-size);
    font-weight: var(--light);
    background: none;
}

@media (max-width: 768px) {
    .Container {
        font-size: var(--medium-font-size);
        gap: 8px;
    }

    .Button {
        font-size: var(--medium-font-size);
        gap: 4px;
    }
}
