.Review {
    font-family: var(--font);
    font-weight: var(--light);
    padding: 16px;
    border-radius: var(--border-radius);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.User {
    display: flex;
    align-items: center;
    font-size: var(--big-font-size);
}
.Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    border-radius: 50%;
    padding: 8px;
    margin-right: 8px;
}
.Stars {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    gap: 4px;
}
.Comment {
    margin-bottom: 8px;
    font-size: var(--medium-font-size);
}
.Date {
    display: flex;
    justify-content: end;
}
