.Input {
    outline: none;
    border: none;
    font-family: var(--font);
    font-size: var(--large-font-size);
    font-weight: var(--light);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    color: var(--black);
    resize: none;
}

.Input::placeholder {
    color: var(--dark-gray);
    font-weight: var(--thin);
}

.SearchBar {
    display: flex;
    height: 3rem;
}

.SearchButton {
    outline: none;
    border: none;
    background: var(--white);
    padding: 0;
    width: 3rem;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchBar Input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

@media (max-width: 768px) {
    .Input {
        font-size: var(--big-font-size);
        width: 100%;
        box-sizing: border-box;
    }
}
