:root {
    --blue: #1a2f9a;
    --light-blue: #cee4fc;
    --white: #ffffff;
    --black: #000000;
    --gray: #d9d9d9;
    --dark-gray: #6e6e6e;
    --transparent-white: #ffffff50;
    --transparent-white-hover: #ffffff80;
    --font: Roboto;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --header-height: 4rem;
    --border-radius: 10px;
    --huge-font-size: 36px;
    --extra-large-font-size: 32px;
    --large-font-size: 28px;
    --big-font-size: 24px;
    --medium-font-size: 20px;
    --small-font-size: 16px;
}
