.ChangePasswordPage {
    padding: 6rem 2rem 2rem;
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Title {
    font-size: var(--large-font-size);
    font-weight: var(--light);
    align-self: center;
}

.Error {
    font-size: var(--big-font-size);
    font-weight: var(--light);
    align-self: center;
}

@media (max-width: 768px) {
    .ChangePasswordPage {
        padding: 5rem 1rem 1rem;
        height: auto;
        min-height: 100vh;
    }

    .Menu {
        width: 100%;
    }
}
